body {
    background-color: lightcyan;
    text-align: center;
}
.container {
    background-color: lightgray;
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    margin: 0px;
    box-shadow: 2px 2px 2px gray;
    text-align: center;
}
.boxed {
    background-color: lightcyan;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}
.welcome {
    color: pink;
    font-size: 60px;
}